.title {
    color: #ffffff;
    margin-left: 10px;
}

h2 {
    color: #ffffff;
}

select {
    display: block;
    margin-bottom: 10px;
    width: 99%;
}

textarea {
    margin-bottom: 15px;
    height: 200px;
    border: 2px solid #00000025;
    border-radius: 5px;
    width: 99%;
}

form {
    background-color: rgba(23, 23, 23, 0.25);
    border: 2px solid #00000025;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
}

.button {
    width: 100px;
    height: 25px;
    display: block;
    margin-left: auto;
    margin-right: 0;
}

body {
  padding: 0;
  font-family: ui-monospace, monospace;
  background: rgb(172, 172, 172);
  transition: all 1s;
}
